.contact-section {
    max-width: 100vw;
    margin: 0 3% 110px 3%;
}
.skimbaimg-container {
    overflow: hidden;
    min-width: 40vw;
}
#skimba-img {
    width: 100%;
    
}
@media screen and (min-width: 936px) {
    .contact-section {
        margin: 0 7% 110px 10%;
        display: flex;
        align-items: center;
    }
    .skimbaimg-container {
        padding: 40px;
    }
}
