.footer-section {
    height: 200px;
    background: #1e2222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
h6 {
    font-family: 'montserrat', 'Arial', sans-serif;
    font-size: 14px;
    margin: .7rem;
    font-weight: 300;
    color: #bee2de;
}