/*SOME ICONS*/

/*Positions navlinks in mobile menu*/
.navlinks-wrapper .someicons-wrapper {
    margin-top: calc(100vh - 360px);
        margin-left: 10%;
}

.someicons-wrapper svg {
    width: 43px;
    height: 43px;
    margin: 0 7px 0 0;
}
.someicons-wrapper svg:hover {
    transform: scale(1.05);
    transition: transform .2s ease-out;
}



#in-link:hover #Vector {
    fill: #0A66C2;   
}
#fb-link:hover #Vector {
    fill: #2374E1;
}
#yt-link:hover #Vector, #yt-link:hover #Vector_3, 
#yt-link:hover #Vector_4, #yt-link:hover #Vector_5, 
#yt-link:hover #Vector_6 {
    fill: #FF0000;
}
#ig-link:hover #Vector {
    fill: url(#hoverGradient);
}